<main>
    <h3>
        ¿Cuál de estas es la letra "A"?
    </h3>
    <section class="cards">
        <div class="card">
            <img src="../../../assets/images/abecedario/a1.png" alt="letraA">
        </div>
        <div class="card">
            <img src="../../../assets/images/abecedario/a1.png" alt="letraA">
        </div>
        <div class="card">
            <img src="../../../assets/images/abecedario/a1.png" alt="letraA">
        </div>
        <div class="card car-selected">
            <img src="../../../assets/images/abecedario/a1.png" alt="letraA">
        </div>
    </section>
</main>